body{
    background-color: purple;
    color: white;
    margin: 0;
}

#a_body{
    width: 30%;
    height: 8vh;
    background-color: white;
    margin-left: 35%;
    margin-top: 40vh;
    text-align: center;
    padding-top: 5vh;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}

#reg{
    background-color: purple;
    border-radius: 20px;
    padding: 10px;
}

#log{
    margin-left: 35%;
    background-color: purple;
    border-radius: 20px;
    padding: 10px;
}